/* Footer */
footer {
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    text-align: center;
    position: relative;
    min-height: 200px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
  }
  
  .footer-contacts h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  #footer-social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-list h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Inter";
  }
  
  .footer-list li {
    margin-bottom: 8px;
  }
  
  .footer-list p {
    font-family: "Inter";
  }
  
  .footer-link {
    color: #000;
    text-decoration: none;
    font-family: "Inter";
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }

  .copyright-text {
    font-family: "Inter";
    font-size: 10px;
  }
  
  /* Responsividade */
  @media (min-width: 313px) and (max-width: 1024px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-list {
      margin-bottom: 20px;
    }
  }
  